---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'ilovesec - Information Security and Introspection',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Blog Posts',
        href: '/blog/',
        target: '_blank',
           },
      { text: 'About Me', href: '/homes/personal/#about' },
      { text: 'Contact', href: '/contact/' },
    ]}
    image={{ src: '~/assets/images/logo.jpg', alt: 'ilovesec logo',  height: '300', width: '300', }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">ilovesec</span> <br /> a website for information security
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
    I'm an avid information security practicioner. Some might say <b>ilovesec</b>.
        <br />
    This is my attempt spread my knowledge and passion for information security.</span>
      <br />
    Feel free to check the site out and reach out if you're interested in finding out more!

    </Fragment>
  </Hero>
  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Check out my Work!"
    information={`Some thoughts and musings from my mind.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
