---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero3.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'ilovesec - Information Security and Introspection',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Blog Posts',
        href: '/blog/',
        target: '_blank',
           },
{ text: 'My Bio', href: 'https://ilovesec.com/homes/personal/#about', target: '_blank' },
{ text: 'BlueSky', href: 'https://bsky.app/profile/ilovesec.com', target: '_blank' },
{ text: 'Mastodon', href: 'https://infosec.exchange/@Samunoske', target: '_blank' },
{ text: 'YouTube (Videos)', href: 'https://odysee.com/@ilovesec:b', target: '_blank' },
{ text: 'Odysee (Videos)', href: 'https://odysee.com/@ilovesec:b', target: '_blank' },
{ text: 'Infosec.Exchange (Videos)', href: 'https://video.infosec.exchange/c/ilovesec/videos?s=1', target: '_blank' },
{ text: 'PixelFed (Pictures)', href: 'https://pixel.infosec.exchange/i/web/profile/761847869570891675', target: '_blank' },
{ text: 'SOC Tools', href: 'https://github.com/samunoske/SOC-Tools', target: '_blank' },
{ text: 'Twitter/X (Deprecated)', href: 'https://www.twitter.com/samunoskex', target: '_blank' },
{ text: 'LinkedIn', href: 'https://www.linkedin.com/in/thejoshuamorgan', target: '_blank' },
    ]}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">links</span> <br />
    </Fragment>
  </Hero>
</Layout>
