---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Joshua Morgan - Information Security Professional and Instructor',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
{
      text: 'Home', href: '/'
    },
    {
      text: 'Contact Us', href: getPermalink('/contact'),
    },
    {
      text: 'About Us', href: getPermalink('/homes/personal'),
      links: [
        {
          text: 'About Joshua',
          href: getPermalink('/homes/personal'),
        },
        {
          text: 'Skills',
          href: getPermalink('/homes/personal/#skills'),
        },
        {
          text: 'Portfolio',
          href: getPermalink('/personal/#portfolio'),
        },
      ],
    },
    {
      text: 'Blog', href: '/blog',
    },
      ]}
      actions={[
        {
          text: 'Contact me',
          href: '/contact/',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Joshua Morgan"
    tagline="Information Security Professional"
    actions={[{ variant: 'primary', text: 'Contact me', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
     <span class="hidden sm:inline">I am an Information Security Professional and Instructor.</span>
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/thejoshuamorgan',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://www.github.com/samunoske',
        },
      },
      {
        icon: 'tabler:brand-twitter',
        callToAction: {
          target: '_blank',
          text: 'Twitter',
          href: 'https://www.twitter.com/samunoskex',
        },
      },
    ]}
    image={{
      src: '~/assets/images/joshua.png',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
<p>As a highly experienced Information Security Professional, I have a wealth of knowledge from working in high-level Security Operations Centers. I hold a Master of Science in Cybersecurity and Information Assurance. I have also had the opportunity to present at DEF CON security conferences. </p>
<br class="hidden md:inline" />
<p>In addition to my experience as a security analyst and my work in the field, I am also an instructor of Information Security for a local college. With my expertise and experience, I am confident in my ability to provide valuable insight and leadership to any team. </p>
<br class="hidden md:inline" />
<p>I have a passion for training and teaching people new to the industry and believe in the importance of sharing knowledge and experience to improve and grow together. Whether I am working as a leader or mentor, I am dedicated to providing valuable guidance and support to those around me.</p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Discover my skills"
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'SOC Runbook Design',
        description: 'Creating and designing procedures aimed at increasing flexibility and efficiency within the Security Operations Center.',
      },
      {
        title: 'Incident Response and Investigation',
        description: 'Responding to information security incidents and assisting with recovery efforts',
      },
      {
        title: 'SOC Automation',
        description: 'Increasing productivity and throughput of SOC efforts with automated actions utilizing existing platforms.',
      },
      {
        title: 'Security Training',
        description: 'Breaking down complex topics pertaining to security to help train new or existing staff.',
      },
      {
        title: 'Vendor Management',
        description: 'Building sustainable relationships with vendors to maximize return on investment.',
      },
      {
        title: 'Creative Solutions',
        description: 'You might not have exactly what you need to do what you want to do. I can try to find a way to accomplish it with what you have.',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="My Projects"
    subtitle="Outside of work, I do some pretty cool things. Here are a few of the things I've been up to."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Crafted questions for Blue Team Village's annual Capture the Flag (CTF). Provided support during preparation and launch of backend operations.',
      },
      {
        title: 'Role:',
        description:
          'Helped build the Capture the Flag material for DEF CONs 31 and 32. Served as a Lead for the project in 2024 and oversaw a successful launch for the 2024 version',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Blue Team Village',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://dc32.blueteamvillage.org/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">Blue Team Village - DEF CON</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Presented at DEF CON conferences in 2022 and 2023.',
      },
      {
        title: 'Role:',
        description: `Presented as part of the Blue Team Village's Threat Hunting program for Project Obsidian..`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Check out My Videos',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Presenting at Security Conferences</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Get Secure"
    subtitle="Ready to take your security program to the next level?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/contact',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`I share my thoughts and insights on information security and other topics.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
