---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Joshua Morgan - Information Security Professional and Instructor',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
{
      text: 'Home', href: '/'
    },
    {
      text: 'Contact', href: getPermalink('/contact'),
    },
    {
      text: 'About', href: getPermalink('/homes/personal'),
      links: [
        {
          text: 'Bio',
          href: getPermalink('/homes/personal/#about'),
        },
        {
          text: 'Skills',
          href: getPermalink('/homes/personal/#skills'),
        },
      ],
    },
    {
      text: 'Blog', href: '/blog',
    },
      ]}
      actions={[
        {
          text: 'Hire me',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Joshua Morgan"
    tagline="Information Security Professional"
    actions={[{ variant: 'primary', text: 'Hire me', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
     <span class="hidden sm:inline">I am an Information Security Professional and Instructor.</span>
<span class="hidden sm:inline"></span>
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-x',
        callToAction: {
          target: '_blank',
          text: 'Twitter',
          href: 'https://www.twitter.com/samunoskex',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href:  'https://www.linkedin.com/in/thejoshuamorgan',
        },
      },
      {
        icon: 'tabler:brand-mastodon',
        callToAction: {
          target: '_blank',
          text: 'Mastodon',
          href: 'https://infosec.exchange/@Samunoske',
        },

      },
      {
        icon: 'tabler:brand-bluesky',
        callToAction: {
          target: '_blank',
          text: 'Bluesky',
          href: 'https://bsky.app/profile/ilovesec.com',
        },

      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/samunoske',
        },

      },
    ]}
    image={{
      src: '~/assets/images/joshua.png',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content" id="about">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
<p>As a highly experienced Information Security Professional, I have a wealth of knowledge from working in high-level Security Operations Centers. I hold a Master of Science in Cybersecurity and Information Assurance. I have also had the opportunity to present at DEF CON security conferences. </p>
<br class="hidden md:inline" />
<p>In addition to my experience as a security analyst and my work in the field, I am also an instructor of Information Security for a local college. With my expertise and experience, I am confident in my ability to provide valuable insight and leadership to any team. </p>
<br class="hidden md:inline" />
<p>I have a passion for training and teaching people new to the industry and believe in the importance of sharing knowledge and experience to improve and grow together. Whether I am working as a leader or mentor, I am dedicated to providing valuable guidance and support to those around me.</p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

<!-- Steps Widget ****************** -->

  <Steps
    id="highlights"
    title="Security Community Highlights"
    items={[
      {
        title:
          'Blue Team Village<br /> <span class="font-normal">DEF CON</span> <br /> <span class="text-sm font-normal">2023-2024</span>',
        description: `DEF CON 32 (2024): Project Obsidian Lead - Crafted questions for annual Capture the Flag for Project Obsidian. Assisted with documentation creation for backend processes within Project Obsidian operations.<br />DEF CON 31 (2023): Project Obsidian - Presented talk "(n)map Explorations" based on a Threat Hunt walkthrough. Assisted with Capture the Flag question generation.<br />DEF CON 30 (2022): Project Obsidian - Presented talk "Go Phish! Visualizing Basic Malice" based on a Threat Hunt walkthrough. `,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Packet Hacking Village<br /> <span class="font-normal">DEF CON</span> <br /> <span class="text-sm font-normal">2024</span>',
        description: `DEF CON 32 (2024): Assisted with Packet Inspector/Packet Detective Workshops providing students with guidance and support as necessary.<br />DEF CON 31 (2023): Assisted with Walk-Through Workshops providing insight and support for visitors, focusing on Honeypot Workshop using Cowrie.<br /> DEF CON 30 (2022): Assisted with Walk-Through Workshops, focusing on Network Operating System walkthrough.<br />DEF CON 29 (2021): Assisted with Walk-Through Workshops, focusing on Honeypot Walkthroughs using Cowrie.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->
  <Features3
    title="Skills"
    id="skills"
    subtitle="Discover my skills"
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'SOC Runbook Design',
        description: 'Creating and designing procedures aimed at increasing flexibility and efficiency within the Security Operations Center.',
      },
      {
        title: 'Incident Response and Investigation',
        description: 'Responding to information security incidents and assisting with recovery efforts',
      },
      {
        title: 'SOC Automation',
        description: 'Increasing productivity and throughput of SOC efforts with automated actions utilizing existing platforms.',
      },
      {
        title: 'Security Training',
        description: 'Breaking down complex topics pertaining to security to help train new or existing staff.',
      },
      {
        title: 'Vendor Management',
        description: 'Building sustainable relationships with vendors to maximize return on investment.',
      },
      {
        title: 'Creative Solutions',
        description: 'You might not have exactly what you need to do what you want to do. I can try to find a way to accomplish it with what you have.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Get Secure"
    subtitle="Ready to take your security program to the next level?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/contact',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`I share my thoughts and insights on information security and other topics.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>